<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="shortcut icon" type="image/png" href="favicon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">

    <%= stylesheet_link_tag "bootstrap", "style.scss", "font-awesome.min" %>
 
    <link href='http://fonts.googleapis.com/css?family=PT+Sans&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <%= javascript_include_tag "bootstrap.js", "blocs.js", "jquery.maskedinput.js" , "formHandler.js" %>
    

    <title>Quote Texter</title>
</head>
<body>
<!-- Main container -->
<div class="page-container">
    
<!-- Hero Bloc -->
<div id="hero-bloc" class="bloc hero bgc-2 bg-dots-bg l-bloc bg-repeat">
	<div class="container bloc-sm hero-nav">
		<nav class="navbar row">
			<div class="navbar-header">
				<a class="navbar-brand" href="index.html">Text Quoter</a>
				<button id="nav-toggle" type="button" class="ui-navbar-toggle navbar-toggle" data-toggle="collapse" data-target=".navbar-1">
					<span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
				</button>
			</div>
			<div class="collapse navbar-collapse navbar-1">
				<ul class="site-navigation nav pull-right">
				</ul>
			</div>
		</nav>
	</div>
	<div class="v-center text-center">
		<div class="vc-content">
			<h1 class="">
				You probably want random quotes
			</h1>
			<h3 class="">
				sent to your phone number.
			</h3><br /><br /><br /><a id="scroll-hero" class="btn-wire btn btn-xl">So give me your number.</a>
		</div>
	</div>
</div>
<!-- Hero Bloc END -->

<!-- Bloc Group -->
<div class='bloc-group'>

<!-- bloc-2 -->
<div class="bloc l-bloc  bloc-tile-2" id="bloc-2">
	<div class="container bloc-lg">
		<div class="row">
			<div class="col-sm-12">
				<h3 class="mg-md">
					Really though
				</h3>
				<p>
					It&rsquo;s just gonna be a random rap quote that makes no sense. <a href ="http://www.complex.com/music/2012/09/40-rap-lyrics-that-make-no-sense/">Based on Complex's article here.</a>
				</p>
			</div>
		</div>
	</div>
</div>
<!-- bloc-2 END -->

<!-- bloc-3 -->
<div class="bloc l-bloc  bloc-tile-2" id="bloc-3">
	<div class="container bloc-lg">
		<div class="row">
			<div class="col-sm-12">
				<%= form_tag('/send_sms', method: "post", id: "form-1") do %>
					<div class="form-group">
						<label>
							Can I have your number? (USA only)
						</label>
						  <input type="text" class="form-control" id="phone" placeholder="(773) 202-LUNA" name="number" onKeyUp="lengthCheck()"></br>
						  <button disabled type="submit" id="button" class="bloc-button btn btn-d btn-lg btn-block">Submit</button>
					</div> 
				<% end %>
			</div>
		</div>
	</div>
</div>
<!-- bloc-3 END -->
</div>
<!-- Bloc Group END -->

<!-- Footer - bloc-4 -->
<div class="bloc l-bloc " id="bloc-4">
	<div class="container bloc-lg">
		<div class="row voffset-lg">
			<div class="col-sm-12">
				<img class="img-responsive center-block mg-lg" src="http://i.imgur.com/BkX6D7w.gif" title="source: imgur.com" />
			</div>
		</div>
	</div>
</div>
<!-- Footer - bloc-4 END -->
</div>
<!-- Main container END -->

</body>
    
<!-- Google Analytics -->

<!-- Google Analytics END -->

</html>
